################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JantarFilosofos/bin/Debug/net7.0
/.vs/JantarFilosofos/FileContentIndex
/JantarFilosofos/obj/Debug/net7.0
/JantarFilosofos/obj
